html {
  font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
    background-color:#f5f5f5;
    margin:0px;
    padding:0px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

article{
    background-color:#FFFFFF;
    font-size: 15px;
    font-size: 1.5rem;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
    border-style:solid;
    border-color:#000000;
    border-width:0.5px;
}

h1{
    /* border-left-style:solid; */
    border-bottom-style:solid;
    border-left-width:10px;
    border-bottom-width:3px;
    border-color:#696969;
    padding-left:5px;
    font-size: 26px;
    font-size: 2.6rem;
}

h2{
    /* border-left-style:solid; */
    border-bottom-style:solid;
    border-left-width:7px;
    border-bottom-width:2px;
    border-color:#696969;
    padding-left:3px;
    font-size: 18px;
    font-size: 1.8rem;
}

h3{
    border-bottom-style:double;
    border-bottom-width:3px;
    border-color:#696969;
}

a:link{
    color:#000000;
}

a:visited{
    color:#000000;
}

a:hover{
    color:#006600;
}

a:active{
    color:#000000;
}

p{
    background-color:#99cc99;
    margin:5px;
    padding:5px;
}

span{
    display:table;
    width:100%;
}

img{
    display:table-cell;
    vertical-align:top;
    width:180px;
    margin-left:15px;
}

dl{
    display:table-cell;
    vertical-align:top;
    width:calc(100% - 120px);
    padding-left:-3px;
}

dt{
    clear:both;
    float:left;
    width:100px;
    font-weight:bold;
    border-left-style:solid;
    border-left-width:0px;
    border-color:#006600;
    padding-left:2px;
}

dd{
    margin-left:100px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color:black;
}

ol{
    list-style-type:none;
    padding-left:0px;
}

ol li{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color:black;
}

@media print{
    body{
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
    }

    article{
	background-color:#FFFFFF;
	font-size:12px;
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:10px;
	border-style:none;
    }
}
2
3
4
5
@media screen and (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
